@import "tailwindcss";

/* font inter */
html {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, sans-serif;
}

/* Custom Scrollbar: Transparent Track */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1b2316;
}

::-webkit-scrollbar-thumb {
    background-color: #2d3c26;
    /* semi-transparent white */
    border-radius: 10px;
}